.credit {
  img {
    max-width: 200px;
  }
}

.card {
  width: 23.5vw;
  height: 24vw;
  max-height: 19vh;
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
  }
}